{
  "env": {
    "test": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "transform-async-to-generator"
      ],
      "sourceMap" : "inline"
    },
    "development": {
      "presets": [
        [
          "latest",
          {
            "es2015": {
              "modules": false
            }
          }
        ]
      ],
      "plugins": [
        "external-helpers",
        "transform-async-to-generator"
      ]
    }
  }
}