{
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }],
        "stage-2"
      ],
      "plugins": [
        "transform-async-to-generator"
      ]
    },
    "development": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
          },
          "modules": false
        }],
        "stage-2"
      ],
      "plugins": [
        "external-helpers",
        "transform-async-to-generator"
      ]
    }
  }
}